$narandzasta: #f75311;
$headerColor:#374249;
$footerColor:#374249;
$fontColor: #797979;
$hedlineColor: #374249;
$hoverDugmicaColor: #cfd1d3;
$pozadinaSekcija: #f3f7f9;
$fontFamily: 'Roboto', sans-serif;
$centerMargin: 0 auto;

